{{view Ember.TextField class="recipient-name-or-email" id="name-or-email" valueBinding="view.query"}}
<br>
Friends:
{{#each friend in view._rankedFriends}}
<a {{action addFriend friend target="view"}}> friend: {{friend.name}}, {{friend.score}}</a> </br>
{{/each}}
<br>

Currently selected friends:
{{#each friend in view.selectedFriends}}
  {{friend.name}}
{{/each}}
